<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td>
          <% if post.front_id_image.attached? %>
            <%= image_tag post.front_id_image.variant(resize_to_limit: [100, 100]) %>
          <% end %>
        </td>
        <td>
          <% if post.back_id_image.attached? %>
            <%= image_tag post.back_id_image.variant(resize_to_limit: [100, 100]) %>
          <% end %>
        </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= turbo_frame_tag 'new_post', src: new_post_path, target: :_top %>
